workflows/WF-30-Manual-Review-Deliver-V2.json
{
  "name": "WF-30-Manual-Review-Deliver-V2",
  "nodes": [
    {
      "id": "wf30_trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "parameters": {}
    },
    {
      "id": "wf30_register",
      "name": "Code Register Pending Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "jsCode": "\nconst g = $getWorkflowStaticData('global');\ng.reviews = g.reviews || {};\nconst secret = 'replace_with_strong_secret';\nconst suggestedName = $json.final_filename || `${$json.job_id || 'translation'} EN [${$now.toFormat('yyyy-LL-dd')}].docx`;\ng.reviews[$json.job_id] = {\n  ...$json,\n  status: 'review_pending',\n  secret,\n  final_filename: suggestedName,\n  updated_at: new Date().toISOString()\n};\nconst base = 'http://localhost:5678';\nconst approveUrl = `${base}/webhook/review/${$json.job_id}/approve_manual/${secret}`;\nconst rejectUrl = `${base}/webhook/review/${$json.job_id}/reject/${secret}`;\nconst statusUrl = `${base}/webhook/review/status/${$json.job_id}`;\nreturn [{ ...$json, final_filename: suggestedName, approve_url: approveUrl, reject_url: rejectUrl, status_url: statusUrl }];\n"
      }
    },
    {
      "id": "wf30_email",
      "name": "Email Send Review Request",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        760,
        240
      ],
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM}}",
        "toEmail": "={{$env.EMAIL_TO}}",
        "subject": "=[Review Needed] {{$json.job_id}} English V2 Draft Ready",
        "text": "={{`Job ${$json.job_id} is ready.\\nReview folder: ${$json.review_dir}\\nDraft A: ${$json.artifacts?.draft_a_docx || ''}\\nDraft B: ${$json.artifacts?.draft_b_docx || ''}\\nReview Brief: ${$json.artifacts?.review_brief_docx || ''}\\nApprove: ${$json.approve_url}\\nReject: ${$json.reject_url}\\nStatus: ${$json.status_url}`}}"
      },
      "continueOnFail": true
    },
    {
      "id": "wf30_wa",
      "name": "HTTP WhatsApp Cloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{$env.WHATSAPP_TO}}\",\"type\":\"text\",\"text\":{\"preview_url\":false,\"body\":\"Review needed for {{$json.job_id}}. Approve: {{$json.approve_url}} Reject: {{$json.reject_url}}\"}}"
      },
      "continueOnFail": true
    },
    {
      "id": "wf30_init_resp",
      "name": "Code Init Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "\nreturn [{ ...$json, status: 'review_pending' }];\n"
      }
    },
    {
      "id": "wf30_action_hook",
      "name": "Webhook Review Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        760
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "review/:job_id/:action/:token",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "wf30_status_hook",
      "name": "Webhook Review Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        1080
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "review/status/:job_id",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "wf30_load_action",
      "name": "Code Validate And Load Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        760
      ],
      "parameters": {
        "jsCode": "\nconst params = $json.params || {};\nconst g = $getWorkflowStaticData('global');\ng.reviews = g.reviews || {};\nconst rec = g.reviews[params.job_id];\nif (!rec) return [{ ok: false, reason: 'job_not_found', action: params.action, job_id: params.job_id }];\nif (params.token !== rec.secret) return [{ ok: false, reason: 'invalid_token', action: params.action, job_id: params.job_id }];\nreturn [{ ok: true, action: params.action, job_id: params.job_id, review: rec }];\n"
      }
    },
    {
      "id": "wf30_if_action_valid",
      "name": "IF Action Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        760
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "wf30_if_approve",
      "name": "IF Approve Manual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        760
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action}}",
              "operation": "equals",
              "value2": "approve_manual"
            }
          ]
        }
      }
    },
    {
      "id": "wf30_select_manual",
      "name": "Execute Command SelectManualFile",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        660
      ],
      "parameters": {
        "command": "={{$env.PYTHON_BIN || 'python3'}} /Users/Code/workflow/translation/scripts/select_manual_file.py --review-dir \"{{$json.review.review_dir}}\""
      },
      "continueOnFail": true
    },
    {
      "id": "wf30_parse_manual",
      "name": "Code Parse Manual Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        660
      ],
      "parameters": {
        "jsCode": "\nconst src = $items('IF Approve Manual', 0, 0)?.[0]?.json || {};\nconst review = src.review || {};\nconst jobId = src.job_id || review.job_id || '';\nconst exitCode = Number($json.exitCode || 0);\n\nif (exitCode !== 0) {\n  return [{\n    ...src,\n    manual_found: false,\n    error: ($json.stderr || 'manual file not found').trim(),\n    review,\n    job_id: jobId,\n  }];\n}\n\ntry {\n  const out = JSON.parse($json.stdout || '{}');\n  const selected = out?.data?.selected_file;\n  if (!out.ok || !selected) {\n    return [{\n      ...src,\n      manual_found: false,\n      error: out.error || 'manual file not found',\n      review,\n      job_id: jobId,\n    }];\n  }\n  return [{\n    ...src,\n    manual_found: true,\n    manual_file: selected,\n    review,\n    job_id: jobId,\n  }];\n} catch (e) {\n  return [{\n    ...src,\n    manual_found: false,\n    error: `manual_parse_error: ${e.message}`,\n    review,\n    job_id: jobId,\n  }];\n}\n"
      }
    },
    {
      "id": "wf30_if_manual",
      "name": "IF Manual File Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        660
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.manual_found}}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "wf30_copy_final",
      "name": "Execute Command Copy To Final",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1860,
        600
      ],
      "parameters": {
        "command": "=cp \"{{$json.manual_file}}\" \"{{($env.TRANSLATION_ROOT || '/Users/ivy/Library/CloudStorage/OneDrive-Personal/Translation Task')}}/Translated -EN/{{($json.review?.final_filename || ($json.job_id + ' EN [' + $now.toFormat('yyyy-LL-dd') + '].docx'))}}\""
      }
    },
    {
      "id": "wf30_mark_approved",
      "name": "Code Mark Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        600
      ],
      "parameters": {
        "jsCode": "\nconst g = $getWorkflowStaticData('global');\ng.reviews = g.reviews || {};\nconst root = '/Users/ivy/Library/CloudStorage/OneDrive-Personal/Translation Task';\nconst finalName = g.reviews[$json.job_id]?.final_filename || `${$json.job_id} EN [${$now.toFormat('yyyy-LL-dd')}].docx`;\nif (g.reviews[$json.job_id]) {\n  g.reviews[$json.job_id].status = 'approved';\n  g.reviews[$json.job_id].updated_at = new Date().toISOString();\n  g.reviews[$json.job_id].final_file_path = `${root}/Translated -EN/${finalName}`;\n}\nreturn [{ job_id: $json.job_id, status: 'approved', final_file_path: g.reviews[$json.job_id]?.final_file_path || '' }];\n"
      }
    },
    {
      "id": "wf30_mark_reject",
      "name": "Code Mark Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        900
      ],
      "parameters": {
        "jsCode": "\nconst g = $getWorkflowStaticData('global');\ng.reviews = g.reviews || {};\nif (g.reviews[$json.job_id]) {\n  g.reviews[$json.job_id].status = 'needs_revision';\n  g.reviews[$json.job_id].updated_at = new Date().toISOString();\n}\nreturn [{ job_id: $json.job_id, status: 'needs_revision', message: 'Reviewer rejected draft' }];\n"
      }
    },
    {
      "id": "wf30_invalid_action",
      "name": "Code Invalid Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        980
      ],
      "parameters": {
        "jsCode": "\nif ($json.manual_found === false) {\n  return [{\n    job_id: $json.job_id,\n    status: 'manual_file_required',\n    message: 'Missing manual file. Upload *_manual*.docx or *_edited*.docx before approve_manual.',\n    review_dir: $json.review?.review_dir || '',\n  }];\n}\n\nreturn [{\n  job_id: $json.job_id,\n  status: 'error',\n  message: `Invalid action: ${$json.reason || 'unknown'}`,\n}];\n"
      }
    },
    {
      "id": "wf30_email_delivery",
      "name": "Email Send Delivery Notice",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2300,
        600
      ],
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM}}",
        "toEmail": "={{$env.EMAIL_TO}}",
        "subject": "=[Delivered] {{$json.job_id}} approved and archived",
        "text": "={{`Final file: ${$json.final_file_path}`}}"
      },
      "continueOnFail": true
    },
    {
      "id": "wf30_email_reject",
      "name": "Email Send Reject Notice",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1420,
        900
      ],
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM}}",
        "toEmail": "={{$env.EMAIL_TO}}",
        "subject": "=[Needs Revision] {{$json.job_id}}",
        "text": "Draft was rejected and marked as needs_revision."
      },
      "continueOnFail": true
    },
    {
      "id": "wf30_resp_action",
      "name": "Respond Action Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2520,
        760
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "wf30_load_status",
      "name": "Code Load Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        1080
      ],
      "parameters": {
        "jsCode": "\nconst jobId = $json.params?.job_id;\nconst g = $getWorkflowStaticData('global');\ng.reviews = g.reviews || {};\nconst rec = g.reviews[jobId];\nif (!rec) return [{ job_id: jobId, status: 'not_found' }];\nreturn [{ job_id: jobId, status: rec.status, updated_at: rec.updated_at, review_dir: rec.review_dir, final_file_path: rec.final_file_path || '' }];\n"
      }
    },
    {
      "id": "wf30_resp_status",
      "name": "Respond Status Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        1080
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code Register Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Register Pending Review": {
      "main": [
        [
          {
            "node": "Email Send Review Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP WhatsApp Cloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code Init Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Review Action": {
      "main": [
        [
          {
            "node": "Code Validate And Load Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Validate And Load Pending": {
      "main": [
        [
          {
            "node": "IF Action Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Action Valid": {
      "main": [
        [
          {
            "node": "IF Approve Manual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Invalid Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Approve Manual": {
      "main": [
        [
          {
            "node": "Execute Command SelectManualFile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Mark Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command SelectManualFile": {
      "main": [
        [
          {
            "node": "Code Parse Manual Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse Manual Selection": {
      "main": [
        [
          {
            "node": "IF Manual File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Manual File Exists": {
      "main": [
        [
          {
            "node": "Execute Command Copy To Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Invalid Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command Copy To Final": {
      "main": [
        [
          {
            "node": "Code Mark Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Mark Approved": {
      "main": [
        [
          {
            "node": "Email Send Delivery Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Mark Rejected": {
      "main": [
        [
          {
            "node": "Email Send Reject Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Invalid Action": {
      "main": [
        [
          {
            "node": "Respond Action Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Send Delivery Notice": {
      "main": [
        [
          {
            "node": "Respond Action Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Send Reject Notice": {
      "main": [
        [
          {
            "node": "Respond Action Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Review Status": {
      "main": [
        [
          {
            "node": "Code Load Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Load Status": {
      "main": [
        [
          {
            "node": "Respond Status Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
