workflows/WF-99-Error-Audit-V2.json
{
  "name": "WF-99-Error-Audit-V2",
  "nodes": [
    {
      "id": "wf99_trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        340
      ],
      "parameters": {}
    },
    {
      "id": "wf99_build",
      "name": "Code Build Error Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        340
      ],
      "parameters": {
        "jsCode": "\nconst err = $json.error || {};\nconst workflow = $json.workflow || {};\nconst execution = $json.execution || {};\nconst input = $json.input || {};\nreturn [{\n  job_id: $json.job_id || input.job_id || execution.id || 'unknown',\n  workflow_name: workflow.name || $json.workflow_name || 'unknown',\n  execution_id: execution.id || $json.execution_id || 'unknown',\n  failed_node: err.node?.name || $json.failed_node || input.failed_node || 'unknown',\n  error_code: err.code || $json.error_code || input.error_code || '',\n  retry_count: Number($json.retry_count || input.retry_count || 0),\n  openclaw_run_id: input.openclaw_run_id || $json.openclaw_run_id || '',\n  status: input.status || $json.status || 'failed',\n  status_flags: input.status_flags || $json.status_flags || [],\n  iteration_count: Number(input.iteration_count || $json.iteration_count || 0),\n  runtime_timeout_minutes: Number(input.runtime_timeout_minutes || $json.runtime_timeout_minutes || 0),\n  error_message: err.message || input.error_message || $json.error_message || 'unknown error',\n  error_stack: err.stack || $json.error_stack || '',\n  at: new Date().toISOString(),\n}];\n"
      }
    },
    {
      "id": "wf99_email",
      "name": "Email Send Error Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        760,
        260
      ],
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM}}",
        "toEmail": "={{$env.EMAIL_TO}}",
        "subject": "=[n8n Error] {{$json.workflow_name}} / {{$json.job_id}}",
        "text": "={{`Execution: ${$json.execution_id}\\nStatus: ${$json.status}\\nFlags: ${($json.status_flags || []).join(', ')}\\nIterations: ${$json.iteration_count}\\nMessage: ${$json.error_message}\\nTime: ${$json.at}`}}"
      },
      "continueOnFail": true
    },
    {
      "id": "wf99_wa",
      "name": "HTTP WhatsApp Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{$env.WHATSAPP_TO}}\",\"type\":\"text\",\"text\":{\"preview_url\":false,\"body\":\"n8n error on {{$json.workflow_name}} for {{$json.job_id}}: {{$json.error_message}}\"}}"
      },
      "continueOnFail": true
    },
    {
      "id": "wf99_audit",
      "name": "Execute Command Append Audit Log",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1000,
        340
      ],
      "parameters": {
        "command": "=mkdir -p /tmp/translation_audit && echo \"{{$json.at}}\t{{$json.job_id}}\t{{$json.workflow_name}}\t{{$json.error_message}}\" >> /tmp/translation_audit/errors.log"
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code Build Error Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Build Error Payload": {
      "main": [
        [
          {
            "node": "Email Send Error Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP WhatsApp Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command Append Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
